<a href="https://colab.research.google.com/github/ArturoSbr/Principles-of-Statistics-MG-Bulmer-1965/blob/main/6_binomial_poisson_and_exponential_distributions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Chapter 6 - The binomial, Poisson and exponential distributions

This notebook contains the solutions to all the exercises from Chapter 6 of *Principles of Statistics (MG Bulmer, 1965)*.


---

Set local environment

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
from scipy.special import comb

## Exercise 6.1

In a table of random numbers, digits are arranged in groups of four. One proposed test of randomness is the poker test in which the groups are classified as

1. all four digits are the same
2. three digits the same, and one different
3. two of one digit and two of another
4. two of one digit and two different digits
5. all four different

and the observed frequencies compared with expectation. Find the probabilities of each of these events. (P. P. P., Hilary, 1963.)

1. all four digits are the same

In [2]:
round((10 / 10**4), 3)

0.001

2. three digits the same, and one different

In [3]:
round(((4 * 3 * 2) / (3 * 2)) * ((10 * 9 * 1 * 1) / 10**4), 3)

0.036

3. two of one digit and two of another

In [4]:
round(((4 * 3 * 2) / (2 * 2)) * (comb(N=10, k=2) / 10**4), 3)

0.027

4. two of one digit and two of another

In [5]:
round(((4 * 3 * 2) / 2) * (comb(N=10, k=3) / 10**4) * 3, 3)

0.432

5. all four different

In [6]:
round((4 * 3 * 2) * (comb(N=10, k=4) / 10**4), 3)

0.504

## Exercise 6.2

When Mendell crossed a tall with a dwarf strain of pea and allowed the hybrids to self-fertilise he found that $\frac{3}{4}$ of the offspring were tall and $\frac{1}{4}$ dwarf. If 9 such offspring were observed, what is the chance (a) that less than half of them would be tall?; (b) that all of them would be tall?

**Solution**

 $X \sim Bin(n=9, P=0.75)$

 (a) The probability that less than half of them are tall is:

 $P(X < 5) = P(X \leq 4) = \sum_{x=0}^4 P(x)$

In [7]:
X = stats.binom(n=9, p=0.75)
round(X.cdf(4), 4)

0.0489

(b) The probability that all of the would be tall is:

$P(X = 9)$

In [8]:
round(X.pmf(9), 4)

0.0751

# Exercise 6.3

Find the mean and variance of the observed frequency distribution and of the theoretical probability distribution in Table 11 on p.82 directly, using the exact probabilities in fractional form for the latter; compare these values with those obtained from the formula for the binomial distribution with $n=5$ and $P=\frac{1}{2}$

**Solution**

The observed mean is:

In [9]:
mean = (316 + 596 * 2 + 3 * 633 + 4 * 320 + 5 * 76) / 2000
round(mean, 2)

2.53

The observed variance is:

In [10]:
var = ((mean)**2 * 59 + (1 - mean)**2 * 316 + (2 - mean)**2 *  596 + \
(3 - mean)**2 * 633 + (4 - mean)**2 * 320 + (5 - mean)**2 * 76) / 2000
round(var, 2)

1.29

The theoretical mean and values of $X \sim Bin(n=5, P=0.5)$ are $nP$ and $nP(1-P)$ respectively. We can get these values from a `scipy.stats.binom` random variable.

In [11]:
X = stats.binom(n=5, p=0.5)
X.stats('mv')

(array(2.5), array(1.25))

## Exercise 6.4

Weldon threw 12 dice 4096 times, a throw of 4, 5 or 6 being called a success, and obtained the following results

| Successes |0|1|2|3|4|5|6|7|8|9|10|11|12|
|-----------|-|-|-|-|-|-|-|-|-|-|-|-|-|
| Frequency |0|7|60|198|430|731|948|847|536|257|71|11|0

(a) Calculate the mean of the distribution and compare it with that of a binomial distribution with $P=\frac{1}{2}$; find the observed proportion of successes per throw ($p$).

**Solution**

Each of the 12 dice in each throw are independent of one another. The probability of success in a single die is $\frac{1}{2}$, hence $X \sim Bin(n=12, P=0.5)$

In [12]:
# Observed data as pandas data frame
df = pd.DataFrame({'successes':range(13),
                   'frequency':[0,7,60,198,430,731,948,847,536,257,71,11,0]})
# Observed mean
mean = np.average(a=df['successes'], weights=df['frequency'])
print('Observed mean:',
      round(mean, 2))
# Theoretical distribution
X = stats.binom(n=12, p=0.5)
# Theoretical mean
print('Theoretical mean:',
      X.stats('m').item())
# Observed proportion of successes per throw
p = mean / 12
print('p = ', round(p, 4))

Observed mean: 6.14
Theoretical mean: 6.0
p =  0.5116

(b) Calculate the variance of the distribution and compare it with that of a binomial distribution (i) with $P=\frac{1}{2}$; (ii) with $P=p$

In [13]:
print('Observed variance:',
      round((df['successes'] - mean).pow(2).multiply(df['frequency'], 1).sum() / df['frequency'].sum(), 4))
print('Theoretical variance with P = 0.5:',
      round(X.stats('v').item(), 4))
print('Theoretical variance with P = p:',
      round(stats.binom(n=12, p=p).stats('v').item(), 4))

Observed variance: 2.9307
Theoretical variance with P = 0.5: 3.0
Theoretical variance with P = p: 2.9984

(c) Fit a binomial distribution, (i) with $P=\frac{1}{2}$, (ii) with $P=p$

In [14]:
# Relative frequencies under P = p
df['expected_i'] = np.round(X.pmf(df['successes']) * 4096, 0)
# Relative frequencies under P = mean
X = stats.binom(n=12, p=p)
df['expected_ii'] = np.round(X.pmf(df['successes']) * 4096, 0)
# Print df
df

    successes  frequency  expected_i  expected_ii
0           0          0         1.0          1.0
1           1          7        12.0          9.0
2           2         60        66.0         55.0
3           3        198       220.0        191.0
4           4        430       495.0        450.0
5           5        731       792.0        754.0
6           6        948       924.0        921.0
7           7        847       792.0        827.0
8           8        536       495.0        541.0
9           9        257       220.0        252.0
10         10         71        66.0         79.0
11         11         11        12.0         15.0
12         12          0         1.0          1.0

## Exercise 6.5

Evaluate the variance of the sex ratios in Table 1 on p. 3 (a) in the Regions of England, (b) in the rural districts of Dorset, and compare them with the theoretical variances of a proportion (a) with $n=100000$, (b) with $n=200$

|  | In English region | In Dorset district |
|--|-------------------|--------------------|
|1 |.514|.38|
|2 |.513|.47|
|3 |.512|.53|
|4 |.517|.50|
|5 |.514|.59|
|6 |.516|.44|
|7 |.514|.54|
|8 |.514|.53|
|9 |.513|.54|
|Total|.514|.512|

In [15]:
df = pd.DataFrame({'Eng':[.514,.513,.512,.517,.514,.516,.514,.514,.513],
                   'Dor':[.38,.47,.52,.5,.59,.44,.54,.53,.54]})

Observed and theoretical variance in England

Note: This question is working with proportion of successes $\frac{X}{n}$, so the variance is $\frac{V(X)}{n^2}$

In [16]:
# Theoretical distribution
X = stats.binom(n=100000, p=0.514)
# Observed variance
print('Observed variance:',
      round((df['Eng'] - .514).pow(2).sum() / 9, 7))
# Theoretical variance
print('Theoretical variance:',
      round(X.stats('v').item() / 100000**2, 7))

Observed variance: 2.1e-06
Theoretical variance: 2.5e-06

Observed and theoretical variance in Dorset

In [17]:
# Theoretical distribution
X = stats.binom(n=200, p=0.514)
# Observed variance
print('Observed variance:',
      round((df['Dor'] - .514).pow(2).sum() / 9, 5))
# Theoretical variance
print('Theoretical variance:',
      round(X.stats('v').item() / 200**2, 5))

Observed variance: 0.00366
Theoretical variance: 0.00125

## Exercise 6.6

The following is one of the distributions of yeast cells observed by 'Student'. Fit a Poisson distribution to it.

| Yeast cells | 0 | 1 | 2 | 3 | 4 | 5 | 6 | Total |
|-------------|---|---|---|---|---|---|---|-------|
| Observations |103|143|98|42|8|4|2|400|

In [18]:
mean = (143 + 2 * 98 + 3 * 42 + 4 * 8 + 5 * 4 + 6 * 2) / 400
X = stats.poisson(mu=mean)
# Expected number of observations
pd.DataFrame({'Yeast cells':range(7),
              'Expected obs':(X.pmf(range(7)) * 400).round(0)})

   Yeast cells  Expected obs
0            0         107.0
1            1         141.0
2            2          93.0
3            3          41.0
4            4          14.0
5            5           4.0
6            6           1.0

## Exercise 6.7

The frequency of twins in European populations is about 12 in every thousand maternities. What is the probability that there will be no twins in 200 births, (a) using the binomial distribution?

In [19]:
X = stats.binom(n=200, p=0.012)
round(X.pmf(0), 4)

0.0894

(b) using the Poisson approximation?

In [20]:
X = stats.poisson(mu=0.012 * 200)
round(X.pmf(0), 4)

0.0907

## Exercise 6.8

When a bacterial culture is attacked by a bacterial virus almost all the bacteria are killed but a few resistant bacteria survive. This resistance is hereditary, but it might be due either to random, spontaneous mutations occurring before the viral attack, or to mutations directly induced by this attack. In the latter case the number of resistant bacteria in different but similar cultures should follow the Poisson distribution, but in the former case the variance should be larger than the mean since the number of resistant bacteria will depend markedly on whether a mutation occurs early or late in the life of the culture. In a classical experiment Luria & Delbruck (1943) found the following numbers of resistant bacteria in ten samples from the same culture: 14, 15, 13, 21, 15, 14, 26, 16, 20, 13, while the found the following numbers in ten samples from different cultures grown in similar conditions: 6, 5, 10, 8, 24, 13, 165, 15, 6, 10. Compare the mean with the variance in the two sets of observaions. Comment.

In [21]:
x = np.array([14, 15, 13, 21, 15, 14, 26, 16, 20, 13])
y = np.array([6, 5, 10, 8, 24, 13, 165, 15, 6, 10])

In [22]:
print('Average of sample one:', x.mean())
print('Variance of sample one:', x.var())
print('Average of sample two:', y.mean())
print('Variance of sampe two:', y.var())

Average of sample one: 16.7
Variance of sample one: 16.41
Average of sample two: 26.2
Variance of sampe two: 2169.1600000000003

The mean and variance of the first sample are roughly the same. This suggests the number of resistant bacteria follow a poisson distribution. It must be that this culture developed resistance to the virus as a consequence of the attack.

The variance of the second sample is much greater than the observed mean. It must be that the resistance developed randomly.

## Exercise 6.9

Calculate the mean and the standard deviation of the distribution in Table 16 on p. 99 and show that they are nearly equal.

|Time interval|Observed frequency|
|-------------|------------------|
| 0-0.5       | 101              |
| 0.5-1       | 98               |
| 1-2         | 159              |
| 2-3         | 114              |
| 3-4         | 74               |
| 4-5         | 48               |
| 5-7         | 75               |
| 7-10        | 59               |
| 10-15       | 32               |
| 15-20       | 4                |
| 20-30       | 2                |
| Over 30     | 0                |
| Total       | 766              |

In [23]:
df = pd.DataFrame({'secs':[0.25,0.75,1.5,2.5,3.5,4.5,6,8.5,12.5,17.5,25],
                   'obs':[101,98,159,114,74,48,75,59,32,4,2]})
mean = (df['secs'] * df['obs']).sum() / 766
var = ((df['secs'] - mean)**2 * df['obs']).sum() / 766
print('Mean:', round(mean, 3))
print('Sdev:', round(np.sqrt(var), 3))

Mean: 3.353
Sdev: 3.396

## Exercise 6.10

If traffic passes a certain point at random at a rate of 2 vehicles a minute, what is the chance that an observer will see no vehicles in a period of 45 seconds?

In [24]:
X = stats.poisson(mu=2 * 0.75)
round(X.pmf(0), 3)

0.223